table {
  width: 100%;
  border-collapse: collapse;
  text-align: right;

  thead {
    @include fontSize(10px);
    text-transform: uppercase;
    color: $alt-text-color;
  }

  tbody {
    color: $white;
  }

  th,
  td {
    padding: rem(15px) 0;
  }

  td {
    @include fontSize(15px);
  }

  tr {
    border-bottom: $faint-border;
    animation: 1s fadeIn;
  }

  th:first-of-type,
  td:first-of-type {
    text-align: left;
  }
}
