.icon {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	&--name {
		//background-image: url('../images/icons/name.svg');
	}
}

.svg-icon{

	&.hamburger,&.close{

		background-color: transparent;

		path{
			color: white;
		}

	}


}
