.page {
  height: 500vh;

  &__background-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: url("../images/desert-2.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
  }

  .page__svg-container {
    width: 100vw;
    height: 100vh;
    position: sticky;
    top: 0;
    // left: 0;
  }
}
