#rootSvg {
  height: 100%;
  width: 100%;
}

svg {
  position: relative;

  rect {
    height: 100%;
  }

  text {
    font-size: 50px;
    font-family: 'Lilita One', cursive;
    text-transform: uppercase;
  }

  .circle-container {
    height: 100%;
    width: 100%;
  }

  #curve {
    transform: translate(50%, 50%);
  }

  #circle {
    transform: translate(50%, 50%);
    // r: 30;
  }

  #textPath {
    transform-origin: center;
  }

  #barcode {
    width: 200px;
  }

  #headerText {
    transform: translate(50px, 100px);

    text {
      font-size: 80px;
    }
  }

  #bottomRightText {
    text {
      font-size: 30px;
    }

    transform: translate(82%, 98%) rotate(-90deg)
  }


}
